{% extends "WebUserBundle::layout.html.twig" %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ user.lastName and user.firstName ? user.firstName ~ ' ' ~ user.lastName : user.username }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% block fos_user_content %}
        <div class="container">{% include "FOSUserBundle:Profile:display_content.html.twig" %}</div>
    {% endblock fos_user_content %}
{% endblock %}