{% extends "WebUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    {% block fos_user_content %}
        <div class="container fos-user-content">
            <div class="alert alert-success">
                <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
            </div>
        </div>
    {% endblock fos_user_content %}
{% endblock content %}
