{% extends "WebUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h1>
                    {% if app.session is not empty %}
                        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}" class="btn btn-lg btn-success">{{ 'registration.back'|trans }}</a></p>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    {% block fos_user_content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Complétez votre profil</h2>
                    <a class="btn btn-default btn-lg" href="{{ path('fos_user_profile_show') }}">
                        <span class="glyphicon glyphicon-user"></span> Mon profil
                    </a>
                </div>
            </div>
        </div>
    {% endblock fos_user_content %}
{% endblock content %}